.root {
  width: 70%;
  margin: 1rem auto;
}

.boardList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.boardItem {
  flex-basis: 23.5%;
  width: 23.5%;
  height: 90px;
  cursor: pointer;
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
}

.boardTile {
  height: 100%;
  border-radius: 3px;
  background-color: rgb(0, 121, 191);
  color: #fff;
  font-weight: 700;
  padding: 0.6rem;
  transition: background-color 0.3s ease-in-out;
}

.boardTile:hover {
  background-color: rgb(0, 101, 180);;
}

#createBoard {
  background-color: #091e420a;
  transition: background-color 0.4s ease-in-out;
  color: #172b4d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}

#createBoard:hover {
  background-color: #091e4214;
}