.rootDetail {
  background-color: rgb(81, 158, 236);
  height: 100vh;
}

/* === board === */
.board {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  width: 100%;
  height: auto;
}

.boardLists {
  display: flex;
}

div.createBoard {
  width: 272px;
  flex-basis: 272px;
  display: block;
  align-self: flex-start;
}
