/* ==== styles for list item === */
.boardLists {
  display: flex;
}
  
.list {
  width: 272px;
  background-color: #ebecf0;
  border-radius: 4px;
  padding: 0.25rem;
  color: #5e6c84;
  margin-right: 0.7rem;
  align-self: flex-start;
  max-height: 100%;
  overflow-y: auto;
}
  
header.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
}

.cards {
  min-height: 40px;
}

span.listHeaderMenu {
  width: 27px;
  height: 27px;
  text-align: center;
  border-radius: 3px;
}
  
header.listHeader h4 {
  margin: 0;
  margin-left: 0.3rem;
  font-size: 90%;
  flex: 1;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.2rem;
  border-radius: 2px;
  text-transform: capitalize;
}
  
.listFooter {
  margin-top: 0.4rem;
}
