.root {
  width: 75%;
  margin: 1rem auto;
}

.boardList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.boardItem {
  width: 25%;
  height: 80px;
  cursor: pointer;
}

.boardTile {
  height: 100%;
  border-radius: 3px;
}

#createBoard {
  background-color: #091e420a;
  /* background-color: #97a0af; */
  transition: background-color 0.4s ease-in-out;
  color: #172b4d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

#createBoard:hover {
  background-color: #091e4214;
}