/* ==== styles for list item === */
.boardLists {
  display: flex;
}
  
.list {
  width: 272px;
  background-color: #ebecf0;
  border-radius: 4px;
  padding: 0.25rem;
  color: #5e6c84;
}
  
header.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0.25rem 0; */
}
  
span.listHeaderMenu {
  width: 27px;
  height: 27px;
  text-align: center;
  border-radius: 3px;
  /* border: 1px solid red; */
}
  
header.listHeader h4 {
  margin: 0;
  margin-left: 0.3rem;
  font-size: 90%;
  /* border: 1px solid red; */
  flex: 1;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.2rem;
  border-radius: 2px;
}
  
.listFooter {
  margin-top: 0.8rem;
}
  
.addCardAction {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
}
  
button.composeTask {
  /* border: 1px solid red; */
  flex: 1;
  padding: 0.25rem 0.5rem;
  text-align: left;
  border-radius: 3px;
  color: inherit;
  font-size: 15px;
  background-color: inherit;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
  
button.composeTask::before {
  content: "\002B";
  width: 15px;
  height: 15px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
  
button.composeTask:hover {
  background-color: #091e4214;
  color: #172b4d;
}
