nav.subNav {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.firstNav {
  flex: 1;
  display: flex;
}

.secondNav {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.secondNavPart1,
.secondNavPart2 {
  display: flex;
}

.boardName {
  display: inline-block;
  margin: 0;
}

.clickableBtn {
  margin: 0.3rem 0.1rem;
  padding: 0.4rem 0.6rem;
  border-radius: 3px;
  background-color: rgb(120, 194, 236, 0.5);
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.clickableBtn:hover {
  background-color: rgb(120, 194, 236, 0.8);
}