.cardDetail {
  background-color: #F9FAFC;
  display: flex;
  width: 100%;
  height: 400px;
  padding: 10px 20px;
  box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
}

.cardDetail textarea {
  width: 100%;
  border-color: transparent;
  border-width: 2px;
  outline: none;
  border-radius: 5px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #172b4d;
  transition: all 0.2s ease-in-out;
}

.cardDetail textarea:focus {
  background-color: #fff;
  border: 2px solid dodgerblue;
}

.cardDetailMain {
  /* border: 1px solid black; */
  flex: 75%;
  margin-right: 1rem;
}

.cardDetailTitle {
  display: flex;
  justify-content: space-between;
}

.cardDetailTextWrapper {
  flex: 1;
  margin-left: 1rem;
}

.cardDetailTextWrapper textarea {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.4rem;
  background-color: #F9FAFC;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #42526e;
}

ul.immutableCardDetail {
  list-style-type: none;
  color: #42526e;
  font-size: 0.9rem;
}

ul.immutableCardDetail li {
  display: flex;
}

span.immutableValue {
  margin-left: 0.3rem;
}

.desciptionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.descriptionformContent {
  flex: 1;
  margin-left: 1rem;
}

.descriptionformContent label {
  font-weight: bold;
  color: #172b4d;
  width: 100%;
  display: block;
  margin-bottom: 0.5rem;
}

.descriptionformContent textarea {
  background-color: #e8e8e8;
  padding: 0.5rem;
}

.descriptionformContent textarea:focus {
  min-height: 130px;
  max-height: 200px;
  /* background-color: #fff;
  border: 2px solid dodgerblue; */
}

/* === aside section === */
.cardDetailAction {
  padding: 0 0.4rem;
  flex: 25%;
}

.cardDetailAction h4 {
  margin: 0;
  padding: 0;
}

.cardDetailAction ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.85rem;
  margin-top: 1rem;
}

.cardDetailAction span.actionLabel {
  margin-left: 0.6rem;
}

.cardDetailAction li {
  color: #42526e;
  padding: 0.4rem;
  border-radius: 4px;
  background-color: #e8e8e8;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cardDetailAction li:hover {
  background-color: #ebecf0;
  color: #172b4d;
}