.cardDetail {
  background-color: #fff;
  display: flex;
  width: 60%;
  margin: 50px auto;
  padding: 10px 20px;
  box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
}

.cardDetail textarea {
  width: 100%;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  border: 2px solid transparent;
  outline: none;
}

.cardDetail textarea:focus {
  border-color: rgb(81, 158, 236);
  border-radius: 4px;
}

.cardDetailMain {
  /* border: 1px solid black; */
  flex: 75%;
}

.cardDetailTitle {
  display: flex;
  justify-content: space-between;
}

.cardDetailTextWrapper {
  flex: 1;
  margin-left: 1rem;
}

textarea.cardDetailTitleText {
  font-weight: bold;
  font-size: 1.4rem;
  color: #172b4d;
  height: 100%;
  padding: 0;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #42526e;
}

ul.immutableCardDetail {
  list-style-type: none;
  color: #42526e;
  font-size: 0.9rem;
}

ul.immutableCardDetail li {
  display: flex;
}

span.immutableValue {
  margin-left: 0.3rem;
}

.desciptionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.descriptionformContent {
  flex: 1;
  margin-left: 1rem;
}

.descriptionformContent label {
  font-weight: bold;
  color: #172b4d;
}

.descriptionformContent textarea {
  margin-top: 1rem;
}


/* === aside section === */
.cardDetailAction {
  padding: 0 0.4rem;
  flex: 25%;
}

.cardDetailAction h4 {
  margin: 0;
  padding: 0;
}

.cardDetailAction ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.85rem;
  margin-top: 1rem;
}

.cardDetailAction span.actionLabel {
  margin-left: 0.6rem;
}

.cardDetailAction li {
  color: #42526e;
  padding: 0.4rem;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cardDetailAction li:hover {
  background-color: #ebecf0;
  color: #172b4d;
}

/* .cardDetailAction li:focus {
  background-color: rgb(183, 235, 235);
  
} */