.addEntityFormContainer {
  width: 100%;
  padding: 0 0.3rem;
}
  
.addEntityFormContainer textarea {
  width: 100%;
  line-height: 20px;
  padding: 0.5rem;
  resize: none;
  border: none;
  outline: none;
  border-radius: 4px;
  height: 60px;
  font-size: 14px;
  overflow-wrap: break-word;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: #172b4d;
  border-bottom: 1px solid #a0a9b8;
}

.addEntityFormContainer input {
  width: 100%;
  padding: 0.4rem 0.8rem;
  color: #172b4d;
  font-size: 14px;
  outline: none;
  border-width: 2px;
  border-color: transparent;
  border-radius: 4px;
}

.addEntityFormContainer input:focus {
  border: 2px solid dodgerblue;
}

.addEntityFormContainer textarea:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #a3acbb;
  min-height: 54px;
  max-height: 162px;
}
  
.addEntityFormActions {
  display: flex;
  margin-top: 0.3rem;
}
  
.buttonsGroup {
  display: flex;
}
  
.buttonsGroup > button {
  cursor: pointer;
}
  
button.saveEntity {
  background-color: rgb(81, 158, 236);
  color: #fff;
  font-size: 500;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}
  
button.saveCard:hover {
  background-color: rgb(34, 137, 240);
}
  
button.cancelEntity {
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  color: #a0a9b8;
  transition: color 0.2s ease-in-out;
}
  
button.cancelEntity::before {
  content: "\2715";
  font-size: 18px;
}
  
button.cancelEntity:hover {
  color: #172b4d;
}

/* == Custom style == */
.addListForm {
  background-color: #ebecf0;
  padding: 0.3rem;
  border-radius: 4px;
}