input[type=search],
button {
  width: auto;
}

button.navbtn {
  /* padding: 0.38rem; */
  margin-right: 0.2rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
  height: 32px;
}

button.navbtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #026AA7;
  padding: 4px;
}

.leftNav {
  /* border: 1px solid blue; */
  flex: 1;
  display: flex;
}

/* === where the nav brand logo lives === */
.middleNav {
  /* border: 1px solid red; */
  background-image: url("header-logo-spirit.d947df93bc055849898e.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80px;
  height: 16px;
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.middleNav:hover {
  opacity: 0.8;
}

input.navFormControl {
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  display: inline-block;
  width: 190px;
  height: 32px;
  padding: 0 1rem;
  box-sizing: border-box;
  font-size: 14px;
}

input.navFormControl:focus {
  background-color: #fff;
  color: #172b4d;
  transition: width 0.4s ease-in-out;
  outline: none;
  width: 380px;
}

.navFormControl::placeholder {
  color: #fff;
}

.rightNav {
  /* border: 1px solid yellow; */
  flex: 1;
  text-align: right;
}