section.root {
  --link-color: #0052CC;
  --text-color: #4d4d4d;
  --white-color: #fff;
  --brand-color: #5E6C84;
  --green-color: #5AAC44;
}

input,
button {
  width: 100%;
}

form > input,
form > button {
  margin: 0.5rem 0;
}

form > input {
  padding: 0.6rem 0.35rem;
}

form > button {
  padding: 0.35rem;
  text-align: center;
}

ul.bottomLink {
  font-size: 14px;
  text-align: center;
  border-top: 1px solid;
  border-color: #ccc;
  margin-top: 35px;
  padding-top: 20px;
}

ul.bottomLink li {
  display: inline-block;
  list-style: none;
}

ul.bottomLink li:not(:first-child)::before {
  content: "\2022";
  margin: 0 7px 0px 5px;
}

ul.bottomLink a {
  text-decoration: none;
}

ul.bottomLink a:hover {
  text-decoration: underline;
}

.logoHeader {
  text-align: center;
  padding: 1rem 0;
}

.loginLogo {
  width: 197px;
  height: 43px;
}

.mainContent {
  width: 30%;
  margin: auto;
  color: var(--text-color);
}

.innerContent {
  background-color: var(--white-color);
  padding: 1rem 2rem;
  text-align: center;
}

.brandlabel {
  color: var(--brand-color);
}
